aiofiles==0.3.2
certifi==2018.4.16
chardet==3.0.4
click==6.7
Django==2.0.6
djangorestframework==3.8.2
Flask==1.0.2
httptools==0.0.11
idna==2.6
itsdangerous==0.24
japronto==0.1.1
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
pytz==2018.4
requests==2.18.4
sanic==0.7.0
tornado==5.0.2
ujson==1.35
urllib3==1.22
uvloop==0.10.1
websockets==5.0.1
Werkzeug==0.14.1
